.youtube {
	article {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		border-bottom: 1px solid #ccc;
		padding: 50px 0px;

		&:last-child {
			border-bottom: none;
		}

		h2 {
			width: 35%;
			font-size: 2.2rem;
		}
		.txt {
			width: 30%;
			display: flex;
			flex-wrap: wrap;
			align-content: space-between;
			p {
				font: 0.8rem/1.5 'arial';
				opacity: 0.5;
			}

			.info {
				width: 100%;
				display: flex;
				justify-content: space-between;
				font: 0.8rem/1 'arial';
				color: orangered;
				span,
				em {
					color: inherit;
				}
			}
		}
		.pic {
			width: 30%;
			height: 10vmax;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
