figure {
	width: 100%;
	height: 100vh;
	position: relative;
	z-index: 1;
	overflow: hidden;
	padding: 25vh 0px 15vh;

	.swiper {
		height: 100%;

		.swiper-wrapper {
			height: inherit;

			.swiper-slide {
				height: inherit;
				background: #fff;
				position: relative;

				.pic {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					overflow: hidden;
					transform: scale(0.4);
					opacity: 0;
					transition: transform 0.5s, opacity 0.5s;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}

			.swiper-slide-active {
				.pic {
					transform: scale(1);
					opacity: 1;
				}
			}

			.swiper-slide-prev,
			.swiper-slide-next {
				.pic {
					transform: scale(0.8);
					opacity: 0.7;
				}
			}
		}
	}
}
