@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
html {
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 3px;
		background: hotpink;
	}
}
