header {
	width: calc(70vw + 10px);
	padding: 30px 5px;
	border-bottom: 1px solid rbga(var(--baseColor-code), 0.3);
	display: flex;
	justify-content: space-between;
	margin: 0 auto;

	h1 {
		font-weight: bold;
		font-size: 1.2rem;
		opacity: 0.9;
	}

	ul {
		display: flex;
		gap: 50px;
		align-items: center;

		li a {
			color: var(--basdeColor);
			opacity: 0.7;

			&.on {
				color: var(--pointColor);
			}
		}
	}

	.bars {
		display: none;
	}
}

header.main {
	width: 100%;
	padding: 5vh 10vw;
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	z-index: 2;
	border-bottom: none;
}

.tablet,
.mobile {
	header {
		ul {
			display: none;
		}
		.bars {
			display: block;
		}
	}
}
