header {
	width: 100%;
	padding: 30px 15vw;
	border-bottom: 1px solid #ddd;
	display: flex;
	justify-content: space-between;

	h1 {
		font: bold 1.3rem/1 'nanum myeongjo';
		color: #222;
	}

	ul {
		display: flex;
		gap: 50px;
		align-items: center;

		li a {
			color: #555;

			&.on {
				color: hotpink;
			}
		}
	}
}
