header {
	width: calc(70vw + 10px);
	padding: 30px 5px;
	border-bottom: 1px solid #bbb;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;

	h1 {
		font-weight: bold;
		font-size: 1.2rem;
		opacity: 0.9;
	}

	ul {
		display: flex;
		gap: 50px;
		align-items: center;

		li a {
			color: #555;

			&.on {
				color: hotpink;
			}
		}
	}

	.bars {
		display: none;
	}
}

.tablet,
.mobile {
	header {
		ul {
			display: none;
		}
		.bars {
			display: block;
		}
	}
}
