.Menu {
	width: 280px;
	height: 100vh;
	background: var(--baseColor);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 6;
	color: var(--bgColor);
	padding: 50px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;

	> * {
		width: 100%;
	}

	h1 {
		font-size: 1.6rem;
	}

	ul {
		li {
			a {
				display: block;
				font-size: 1.2rem;
				padding: 15px 0px;
				border-bottom: 1px solid rgba(var(--bgColor-code), 0.2);

				&.on {
					color: var(--pointColor);
				}
			}
			&:last-child {
				a {
					border: none;
				}
			}
		}
	}
}
