.info {
	width: 100%;
	height: 100vh;
	background: orange;
	position: relative;
	padding: 10vw;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	.box {
		width: 400px;
		height: 400px;
		background: #fff;
	}
}
