.contact_us {
	figure {
		background: orange;
	}

	#map,
	#view {
		width: 100%;
		height: 50vh;
		background: #111;
		margin-bottom: 20px;
	}

	.branch {
		li {
			&.on {
				color: hotpink;
			}
		}
	}
}
