footer {
	width: 70vw;
	margin: 0px auto;
	padding: 60px 0;
	border-top: 1px solid #ddd;
	display: flex;
	justify-content: space-between;

	h1 {
		display: flex;
		align-items: center;
		font: normal 1.5rem/1 'nanum myeongjo';
		color: #222;
	}
	p {
		font: normal 1rem/1 'nanum myeongjo';
		color: #444;
	}

	ul {
		display: flex;
		gap: 30px;
	}
}
